@tailwind base;
@tailwind components;
@tailwind utilities;

#pop-up {
  display: block;
}

#clock {
	font-size: 50px;
	font-family: monospace;
}

#carbontonnes {
	font-size: 50px;
	font-family: monospace;
}

#tonnes {
	font-size: 18px;
	font-family: monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
